.btn {
    position: relative;
    display: block;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 139, 139, 0.648);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    background-color:rgba(0, 139, 139, 0.825);
}

.popover-wrapper {
    position: absolute;
    left: 50%;
    top: -.6rem;
    box-sizing: border-box;
    display: block;
    transform: translateX(-50%) translateY(-100%);
    font-size: 14px;
    text-align: center;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.423);
    color: #0d0101;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: 0 0 20px #0000006b;
}
.popover-text {
    background-color:rgba(253, 253, 253, 0.989);
    padding: 4px;
    font-size: 1.3rem;
    border-radius: 0 0 10px 10px;
}
.popover-title {
    padding: 4px;
}

.popover-wrapper::before,
.popover-wrapper::after {
    content: ''; 
    position: absolute;
    transform: translateX(-50%);
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(128, 128, 128, 0.947);
}

.popover-wrapper::after {
    border-top: 10px solid white;
    bottom: -19px; 
}
